@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-image {
    position: fixed;
    z-index: -10;
    top: -10px;
    left: -10px;
    height: 105%;
    width: 105%;
    background-image: url('../../public/assets/images/background_resized.jpg');
    filter: blur(8px);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

canvas {

}

.title {
    position: absolute;
    /* display: flex; */
    width: 38%;
    top: 150px;
    left: 150px;
    background-color: transparent;
    z-index: 1;
}

h1 {
    /* text-align: center; */
    font-size: 120px;
    color: whitesmoke;
    text-shadow: #000000 0px 0px 30px;
}

p {
    font-size: 50px;
    color: whitesmoke;
    text-shadow: #000000 0px 0px 20px;
}

section#login-section {
    position: absolute;
    width: 100%;
    top: 80%;
    left: 0;
    text-align: center;
}

button.login {
    margin: 5px;
    font-size: 30px;
    color: #d0d0d0;
    border: none;
    background-color: transparent;
    text-decoration: underline;
    text-shadow: #000000 0px 0px 20px;
}

button.login:hover {
    color: #f0f0f0;
}